<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div class="auth-reg-cont" style="margin-top: 4%">
    <form method="post" action="/authorization/authorize">
        <img th:src="@{/images/logo.png}" alt="logo" class="logo">
        <h3>Вход в личный кабинет</h3>
        <label>
            <input name="login" required type="text" class="auth-reg-inp" placeholder="login_1234" th:value="${login==null}?'':${login}">
            <span>Логин</span>
        </label>
        <label>
            <input name="password" required type="password" class="auth-reg-inp" placeholder="Password_0" th:value="${password==null}?'':${password}">
            <span>Пароль</span>
        </label>
            <span id="sp" th:if="${error!=null}">
            <p class="auth-reg-error" th:text="${error}"></p>
        </span>
        <button type="submit" class="auth-reg-btn">
            Войти
        </button>
        <p>Нет учетной записи?
            <a href="/registration">
                Зарегистрироваться
            </a>
        </p>
    </form>
</div>
</body>