<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div class="auth-reg-cont" style="margin-top: 10%">
        <form method="post" action="/password_reset/new_password">
            <p style="text-align: center;width: auto;">
                На введенную почту был отправлен код подтверждения. Введите его в поле ниже
            </p>
            <label>
                <div style="display: flex;gap: 10px">
                <input name="code" type="number" id="code" required class="auth-reg-inp" style="margin: 0;width: 60%">
                    <button type="submit" form="resend" class="auth-reg-btn unimp-btn" style="margin: 0;width: 40%;height: auto;">Повторить отправку</button>
                </div>
                <span>Код</span>
            </label>
            <span th:if="${code_error!=null}">
            <p class="auth-reg-error" th:text="${code_error}"></p>
        </span>
            <input style="display: none" name="login" th:value="${login}">
            <input style="display: none" name="email" th:value="${email}">
            <button type="submit" class="auth-reg-btn">
                Перейти к восстановлению пароля
            </button>
        </form>
    <form id="resend" method="post" action="/password_reset/send_again">
        <input style="display: none" name="login" th:value="${login}">
        <input style="display: none" name="email" th:value="${email}">
    </form>
    <p>Вернуться ко
        <a href="/authorization">
            входу в личный кабинет
        </a>
    </p>
</div>
