<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div class="auth-reg-cont" style="margin-top: 6%">
    <img th:src="@{/images/logo.png}" alt="logo" class="logo">
    <h3>Создание нового пароля</h3>
    <form method="post" action="/password_reset/reset_password">
        <label>
            <input name="password" required type="password" class="auth-reg-inp" placeholder="password00"
                   th:value="${password==null}?'':${password}">
            <span>Пароль</span>
        </label>
        <label>
            <input name="password2" required type="password" class="auth-reg-inp" placeholder="password00"
                   th:value="${password2==null}?'':${password2}">
            <span>Подтвердите пароль</span>
        </label>
        <input style="display: none" name="login" th:value="${login}">
        <button type="submit" class="auth-reg-btn">
            Сменить пароль
        </button>
    </form>
    <p>Вернуться ко
        <a href="/authorization">
            входу в личный кабинет
        </a>
    </p>
</div>
</body>