<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<style>
    p {
        text-align: left;
        margin: 0;
    }

    .auth-reg-inp {
        width: 100%;
        height: 2em;
        margin-bottom: 0;
    }

    .auth-reg-btn {
        width: auto;
        padding: 0px 15px;
    }
</style>
<body>
<header th:insert="header_sec :: sec_header"></header>
<div style="display: flex;justify-content: space-between;width: 90%;margin: auto;margin-top: 6em">
    <div style="width: 13%">
        <div class="nav-list">
            <div style="padding: 5px;">
                <a style="text-decoration: none;display: flex" th:href="'/secretary_student_menu/'+${student.getId()}">
                    <img th:src="@{/images/profile_icon.png}" alt="" class="icon-pic">
                    <div class="icon-text">Профиль</div>
                </a>
            </div>
            <div style="padding: 5px;">
                <a style="text-decoration: none;display: flex"
                   th:href="'/secretary_student_menu/'+${student.getId()}+'/grades'">
                    <img th:src="@{/images/book_icon.png}" alt="" class="icon-pic">
                    <div class="icon-text">Успеваемость</div>
                </a>
            </div>
            <div style="padding: 5px;" class="chosen">
                <a style="text-decoration: none;display: flex"
                   th:href="'/secretary_student_menu/'+${student.getId()}+'/omissions'">
                    <img th:src="@{/images/document_icon.png}" alt="" class="icon-pic">
                    <div class="icon-text">Заявления</div>
                </a>
            </div>
        </div>
    </div>
    <div style="width: 75%;display: flex;flex-direction: column;">
        <h4>Заявления по ОРВИ</h4>
        <div style="display: flex; flex-direction: column; gap: 10px">
            <div th:each="om:${omissions}">
                <div class="omission-card">
                    <input style="display: none" th:value="${om.getId()}" name="om_id">
                    <p th:text="'Дата начала: '+${om.getBegin()}"></p>
                    <p th:text="'Дата конца: '+${om.getEnd()}"></p>
                    <span th:if="${om.getStatus()==0}">
                             <p>Статус: На рассмотрении</p></span>
                    <span th:if="${om.getStatus()==1}">
                             <p>Статус: <span style="color:darkgreen">Одобрена</span></p></span>
                    <span th:if="${om.getStatus()==2}">
                            <p>Статус: <span style="color:red">Не одобрена</span></p></span>
                    <span th:if="${om.getStatus()==0}">
                        <div style="display: flex; gap: 10px">
                            <form method="post"
                                  th:action="'/secretary_student_menu/'+${student.getId()}+'/omissions/approve'">
                                <input style="display: none" name="om_id" th:value="${om.getId()}">
                                <input style="display: none" name="page" value="2">
                            <button class="auth-reg-btn"
                                    style="width: fit-content;padding:0 10px;margin-bottom: 0"
                                    type="submit">Одобрить</button>
                            </form>
                            <form method="post"
                                  th:action="'/secretary_student_menu/'+${student.getId()}+'/omissions/delete'">
                                <input style="display: none" name="om_id" th:value="${om.getId()}">
                                <input style="display: none" name="page" value="2">
                            <button class="auth-reg-btn unimp-btn"
                                    style="width: fit-content;padding:0 10px;margin-bottom: 0"
                                    type="submit">Отклонить</button>
                            </form>
                        </div>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>