<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<header th:insert="header_sec :: sec_header"></header>
<div class="main_frame" style="width: 80%;flex-direction: column;gap: 20px;align-items: center">
    <div class="omission-card" th:each="om,iterStat:${omissions}">
        <p>Имя студента: <a
                th:href="'/secretary_student_menu/'+${students.get(iterStat.index).getId()}+'/omissions'"
                th:text="${students.get(iterStat.index).getName()}"></a></p>
        <p th:text="'Дата начала: '+${om.getBegin()}"></p>
        <p th:text="'Дата конца: '+${om.getEnd()}"></p>
        <div style="display:flex;gap: 10px">
            <form method="post" th:action="'/secretary_student_menu/'+${students.get(iterStat.index).getId()}+'/omissions/approve'">
                <input style="display: none" name="om_id" th:value="${om.getId()}">
                <input style="display: none" name="page" value="1">
                <button class="auth-reg-btn"
                        style="width: fit-content;padding:0 10px;margin-bottom: 0" type="submit">Одобрить
                </button>
            </form>
            <form method="post" th:action="'/secretary_student_menu/'+${students.get(iterStat.index).getId()}+'/omissions/delete'">
                <input style="display: none" name="om_id" th:value="${om.getId()}">
                <input style="display: none" name="page" value="1">
                <button class="auth-reg-btn unimp-btn"
                        style="width: fit-content;padding:0 10px;margin-bottom:0" type="submit">Отклонить
                </button>
            </form>
        </div>
    </div>
</div>
</body>