<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<style>
    p {
        text-align: left;
        margin: 0;
    }

    .auth-reg-inp {
        width: 100%;
        height: 2em;
        margin-bottom: 0;
    }

    .auth-reg-btn {
        width: auto;
        padding: 0px 15px;
    }
</style>
<body>
<header th:insert="header_sec :: sec_header"></header>
<div style="display: flex;justify-content: space-between;width: 90%;margin: auto;margin-top: 6em">
    <div style="width: 20%">
        <span th:if="${lector.getPhoto()!=null && !lector.getPhoto().equals('')}">
        <img alt="Student photo" th:src="@{/images/lector_photos/{id}.png(id=${lector.getId()})}"
             class="photo"></span>
        <span th:unless="${lector.getPhoto()!=null && !lector.getPhoto().equals('')}">
        <img alt="No image" th:src="@{/images/noimg.png}" class="photo"></span>
    </div>
    <div style="width: 70%">
        <form th:action="'/secretary_lector_menu/'+${lector.getId()}+'/change'" method="post"
              enctype="multipart/form-data">
            <table class="inv-table" style="width: 50%">
                <tr>
                    <td>ФИО</td>
                    <td>
                        <input class="auth-reg-inp" id="name" name="name" required placeholder="Иванов Иван Иванович"
                               th:value="${lector.getName()}">
                        <span th:if="${name_error!=null}">
                        <p class="auth-reg-error" th:text="${name_error}"></p>
                    </span>
                    </td>
                </tr>
                <tr>
                    <td>Адрес эл.почты</td>
                    <td>
                        <input type="email" class="auth-reg-inp" required id="email" name="email"
                               placeholder="student.12@mail.ru" th:value="${lector.getEmail()}">
                        <span th:if="${email_error!=null}">
                        <p class="auth-reg-error" th:text="${email_error}"></p>
                    </span>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top">Группы</td>
                    <td>
                        <p th:text="${strgroups}" style="margin-bottom: 5px"></p>
                        <select class="auth-reg-inp" name="groups" id="groups" required
                                multiple="multiple" style="height: 9em">
                            <option value="-" disabled>Группы</option>
                            <div th:each="gr:${groups}">
                            <span th:if="${chosen_groups.contains(gr.getGr_num())}">
                            <option th:value="${gr.getGr_num()}" th:text="${gr.getGr_num()}"
                                    selected="selected"></option></span>
                                <span th:unless="${chosen_groups.contains(gr.getGr_num())}">
                            <option th:value="${gr.getGr_num()}" th:text="${gr.getGr_num()}"></option></span>
                            </div>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top">Предметы</td>
                    <td>
                        <p th:text="${strsubjects}" style="margin-bottom: 5px"></p>
                        <select class="auth-reg-inp" name="subjects" id="subjects" required
                                multiple="multiple" style="height: 9em">
                            <option value="-" disabled>Группы</option>
                            <div th:each="sub:${subjects}">
                            <span th:if="${chosen_subjects.contains(sub)}">
                            <option th:value="${sub}" th:text="${sub}" selected></option></span>
                                <span th:unless="${chosen_subjects.contains(sub)}">
                            <option th:value="${sub}" th:text="${sub}"></option></span>
                            </div>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Фотография</td>
                    <td>
                        <input type="file" accept="image/png" id="photo" name="photo">
                    </td>
                </tr>
            </table>
            <div style="display: flex;gap: 20px;width: 100%">
                <button class="auth-reg-btn" type="submit">Сохранить изменения</button>
                <button class="auth-reg-btn" form="deleteForm" type="submit"
                        onclick="return confirm('Вы уверены, что хотите удалить данного преподавателя?')">Удалить
                </button>
            </div>
        </form>
        <span th:if="${success!=null}">
    <div id="popup-message" class="popup hidden-pop" th:text="${success}"></div>
    <script>
        const popup = document.getElementById('popup-message');
        popup.classList.remove('hidden-pop');
        setTimeout(() => {
            popup.classList.add('hidden-pop');
        }, 3000);
    </script>
</span>
        <form id="deleteForm" th:action="'/secretary_lector_menu/'+${lector.getId()}+'/delete'" method="post"></form>
    </div>
</div>
</body>