<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<style>
    .inv-table td{
        padding-bottom: 5px;
    }
</style>
<header th:insert="header_sec :: sec_header"></header>
<div class="modalBackground" id="mod_back">
    <div class="modalActive" id="mod_act">
        <div class="modalClose" id="mod_close" onclick="modalClose()">
            <p style="font-size: 30px;margin: 0;color: #005200">x</p>
        </div>
        <div class="modalWindow" id="mod_wind">
            <h3>Добавление группы</h3>
            <form method="post" action="/secretary_group_menu/add_group">
                <label>
                    <input class="auth-reg-inp" type="number" min=100000 max=999999 name="number" id="number" required
                           placeholder="123456" th:value="${groupNumber==null}?'':${groupNumber}">
                    <span>Номер группы</span>
                </label>
                <span id="sp" th:if="${inputError!=null}">
                    <p class="auth-reg-error" th:text="${inputError}"></p>
                </span>
                <label>
                    <select class="auth-reg-inp" name="faculty" id="faculty" required
                            onchange="getFac()">
                        <option value="-" disabled>Факультет</option>
                        <div th:each="fac:${faculties}">
                        <span th:if="${fac.equals(faculty)}">
                        <option th:value="${fac}" th:text="${fac}" selected></option>
                        </span>
                            <span th:unless="${fac.equals(faculty)}">
                        <option th:value="${fac}" th:text="${fac}"></option>
                        </span>
                        </div>
                    </select>
                    <span>Факультет</span>
                </label>
                <label>
                    <select class="auth-reg-inp" name="specialty" id="specialty" required>
                        <option value="-" disabled>Специальность</option>
                        <div th:each="sp:${specialties}">
                        <span th:if="${sp.equals(specialty)}">
                        <option th:value="${sp}" th:text="${sp}" selected></option>
                            </span>
                            <span th:unless="${sp.equals(specialty)}">
                        <option th:value="${sp}" th:text="${sp}"></option>
                            </span>
                        </div>
                    </select>
                    <span>Специальность</span>
                </label>
                <label>
                    <select class="auth-reg-inp" name="form" id="form" required>
                        <option value="-" disabled>Форма обучения</option>
                        <span th:if="${form!=null && form==1}">
                        <option th:value=1 selected>Очная</option></span>
                        <span th:unless="${form!=null && form==1}">
                        <option th:value=1>Очная</option></span>
                        <span th:if="${form!=null && form==2}">
                        <option th:value=2 selected>Заочная</option></span>
                        <span th:unless="${form!=null && form==2}">
                        <option th:value=2>Заочная</option></span>
                    </select>
                    <span>Форма обучения</span>
                </label>
                <button class="auth-reg-btn" type="submit">Добавить</button>
            </form>
            <form id="choose_spec" method="post" action="/secretary_group_menu/choose_specialty" style="display: none">
                <input id="fac" name="fac">
                <input id="num" name="num">
            </form>
        </div>
    </div>
</div>
<span th:if="${faculty!=null}">
    <script>
        document.getElementById("mod_back").style.display = "block";
    </script>
</span>
<div class="main_frame_gr">
    <div style="width: 50%;
         gap: 10px;
         display: flex;
         flex-direction: column;">
        <div style="display: flex;gap: 15px">
            <form method="post" action="/secretary_group_menu/filter" style="display: flex;gap:5px">
                <div style="display: flex">
                    <button type="submit" class="search_button" style="width: 25%"><img style="width: 100%;height: 100%"
                                                                     th:src="@{/images/search.png}"></button>
                    <input type="number" class="search" name="search" th:value="${search==null}?'':${search}"
                           placeholder="Hомер группы">
                </div>
                <select class="filter" id="filter_course" name="filter_course">
                    <option value=0>Все курсы</option>
                    <span th:if="${filter_course!=null && filter_course==1}">
                        <option value=1 selected>1 курс</option></span>
                    <span th:unless="${filter_course!=null && filter_course==1}">
                        <option value=1>1 курс</option></span>
                    <span th:if="${filter_course!=null && filter_course==2}">
                        <option value=2 selected>2 курс</option></span>
                    <span th:unless="${filter_course!=null && filter_course==2}">
                        <option value=2>2 курс</option></span>
                    <span th:if="${filter_course!=null && filter_course==3}">
                        <option value=3 selected>3 курс</option></span>
                    <span th:unless="${filter_course!=null && filter_course==3}">
                        <option value=3>3 курс</option></span>
                    <span th:if="${filter_course!=null && filter_course==4}">
                        <option value=4 selected>4 курс</option></span>
                    <span th:unless="${filter_course!=null && filter_course==4}">
                        <option value=4>4 курс</option></span>
                    <span th:if="${filter_course!=null && filter_course==5}">
                        <option value=5 selected>5 курс</option></span>
                    <span th:unless="${filter_course!=null && filter_course==5}">
                        <option value=5>5 курс</option></span>
                </select>
                <select class="filter" id="filter_faculty" name="filter_faculty">
                    <option value="-">Все факультеты</option>
                    <div th:each="fac:${filter_faculties}">
                        <span th:if="${fac.equals(filter_faculty)}">
                            <option th:value="${fac}" th:text="${fac}" selected></option>
                        </span>
                        <span th:unless="${fac.equals(filter_faculty)}">
                            <option th:value="${fac}" th:text="${fac}"></option>
                        </span>
                    </div>
                </select>
                <select class="filter" id="filter_specialty" name="filter_specialty">
                    <option value="-">Все специальности</option>
                    <div th:each="sp:${filter_specialties}">
                        <span th:if="${sp.equals(filter_specialty)}">
                            <option th:value="${sp}" th:text="${sp}" selected></option>
                        </span>
                        <span th:unless="${sp.equals(filter_specialty)}">
                            <option th:value="${sp}" th:text="${sp}"></option>
                        </span>
                    </div>
                </select>
                <select class="filter" id="filter_form" name="filter_form">
                    <option value=0>Все формы</option>
                    <span th:if="${filter_form==1 && filter_form!=null}">
                        <option value=1 selected>Очная</option></span>
                    <span th:unless="${filter_form==1 && filter_form!=null}">
                        <option value=1>Очная</option></span>
                    <span th:if="${filter_form==2 && filter_form!=null}">
                        <option value=2 selected>Заочная</option></span>
                    <span th:unless="${filter_form==2 && filter_form!=null}">
                        <option value=2>Заочная</option></span>
                </select>
            </form>
            <button class="add-btn" id="add_btn" onclick="modalOpen()">+</button>
        </div>
        <div style="display: flex">
            <div class="scroll-table">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 15%">Номер</th>
                        <th style="width: 20%">Курс</th>
                        <th style="width: 25%">Специальность</th>
                        <th style="width: 25%">Факультет</th>
                        <th style="width: 15%">Форма</th>
                    </tr>
                    </thead>
                </table>
                <div class="scroll-table-body">
                    <table>
                        <tbody>
                        <span th:if="${noGroups!=null}">
                        <tr><td th:text="${noGroups}" style="border: none;padding-top: 85px"></td></tr>
                    </span>
                        <span th:unless="${noGroups!=null}">
                <tr th:each="gr:${groups}" onclick="getGroupFromTable(this)" th:id="${gr.getGr_num()}">
                    <td style="width: 15.5%" th:text="${gr.getGr_num()}"></td>
                    <td style="width: 20%" th:text="${gr.getCourse()}"></td>
                    <td style="width: 24.5%" th:text="${gr.getSpecialty()}"></td>
                    <td style="width: 25%" th:text="${gr.getFaculty()}"></td>
                    <td style="width: 15.5%" th:text="${gr.getForm_of_study()==2}?'Заочная':'Очная'"></td>
                </tr>
                </span>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 45%">
        <table class="inv-table">
            <form action="/secretary_group_menu/change_course" method="post">
                <input style="display: none" name="number" th:value="${gr_info==null}?'':${gr_info.getGr_num()}">
            <tr>
                <td>Номер</td>
                <td id="gr_num" th:text="${gr_info==null}?'':${gr_info.getGr_num()}"></td>
            </tr>
            <tr>
                <td>Курс</td>
                <td style="display: none" id="c_td">
                    <select style="background-color: transparent;border-width: 1px" name="course" onchange="submit()">
                        <span th:if="${gr_info!=null && gr_info.getCourse()==1}">
                        <option value="1" selected>1 курс</option></span>
                        <span th:unless="${gr_info!=null && gr_info.getCourse()==1}">
                        <option value="1">1 курс</option></span>
                        <span th:if="${gr_info!=null && gr_info.getCourse()==2}">
                        <option value="2" selected>2 курс</option></span>
                        <span th:unless="${gr_info!=null && gr_info.getCourse()==2}">
                        <option value="2">2 курс</option></span>
                        <span th:if="${gr_info!=null && gr_info.getCourse()==3}">
                        <option value="3" selected>3 курс</option></span>
                        <span th:unless="${gr_info!=null && gr_info.getCourse()==3}">
                        <option value="3">3 курс</option></span>
                        <span th:if="${gr_info!=null && gr_info.getCourse()==4}">
                        <option value="4" selected>4 курс</option></span>
                        <span th:unless="${gr_info!=null && gr_info.getCourse()==4}">
                        <option value="4">4 курс</option></span>
                        <span th:if="${gr_info!=null && gr_info.getCourse()==5}">
                        <option value="5" selected>5 курс</option></span>
                        <span th:unless="${gr_info!=null && gr_info.getCourse()==5}">
                        <option value="5">5 курс</option></span>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Специальность</td>
                <td id="gr_sp" th:text="${gr_info==null}?'':${gr_info.getSpecialty()}+'('+${gr_info.getFaculty()}+')'"></td>
            </tr>
            <tr>
                <td>Форма обучения</td>
                <td id="gr_f" name="form" style="display: none">
                    <select style="background-color: transparent;border-width: 1px" name="form" onchange="submit()">
                    <span th:if="${gr_info!=null && gr_info.getForm_of_study()==1}">
                        <option value=1 selected>Очная</option></span>
                    <span th:unless="${gr_info!=null && gr_info.getForm_of_study()==1}">
                        <option value=1>Очная</option></span>
                    <span th:if="${gr_info!=null && gr_info.getForm_of_study()==2}">
                        <option value=2 selected>Заочная</option></span>
                    <span th:unless="${gr_info!=null && gr_info.getForm_of_study()==2}">
                        <option value=2>Заочная</option></span>
                    </select>
                </td>
            </tr>
                <span th:if="${gr_info!=null}">
                    <script>
                        document.getElementById("c_td").style.display = "";
                        document.getElementById("gr_f").style.display = "";
                    </script>
                </span>
            </form>
        </table>
        <div style="display: flex">
            <div class="scroll-table">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 10%">ID</th>
                        <th style="width: 90%">Студенты группы</th>
                    </tr>
                    </thead>
                </table>
                <div class="scroll-table-body" style="height: 276px">
                    <table>
                        <tbody>
                            <span th:if="${gr_students!=null && gr_students.isEmpty()}">
                                <tr><td style="border: none;padding-top: 85px">В этой группе нет студентов</td></tr>
                            </span>
                                <span th:unless="${gr_students==null}">
                        <tr th:each="st:${gr_students}" onclick="getStudent(this)" th:id="${st.getId()}+'st'">
                            <form th:action="'/secretary_student_menu/'+${st.getId()}" th:id="${st.getId()}+'stform'"></form>
                            <td style="width: 11.5%" th:text="${st.getId()}"></td>
                            <td style="width: 90%" th:text="${st.getName()}"></td>
                        </tr>
                        </span>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="display: flex;justify-content: end">
            <form action="/secretary_group_menu/delete_group" method="post">
                <input id="del_inp" name="number" style="display:none" th:value="${gr_info==null}?'':${gr_info.getGr_num()}">
                <button class="del_btn"
                        onclick="return confirm('Вы уверены, что хотите удалить данную группу? При удалении группы удалятся все ее студенты.')">Удалить</button>
            </form>
        </div>
        <form id="gr_form" action="/secretary_group_menu/get_group" method="post" style="display:none">
            <input name="number" id="gr_inp">
        </form>
    </div>
    <span th:if="${success!=null}">
    <div id="popup-message" class="popup hidden-pop" th:text="${success}"></div>
    <script>
        const popup = document.getElementById('popup-message');
        popup.classList.remove('hidden-pop');
        setTimeout(() => {
            popup.classList.add('hidden-pop');
        }, 3000);
    </script>
</span>
</div>
<script>
    function modalOpen() {
        document.getElementById("mod_back").style.display = "block";
    }

    function modalClose() {
        document.getElementById("mod_back").style.display = "none";
    }

    function getFac() {
        let sel = document.getElementById("faculty");
        let value = sel.options[sel.selectedIndex].value;
        let num = document.getElementById("number").value;
        document.getElementById("fac").value = value;
        document.getElementById("num").value = num;
        document.getElementById("choose_spec").submit();
    }

    function getGroupFromTable(row) {
        var tds = row.cells;
        document.getElementById("gr_inp").value = tds[0].innerText;
        document.getElementById("gr_form").submit();
    }
    function getStudent(row){
        let id = row.id;
        document.getElementById(id+"form").submit();
    }
    document.getElementById("filter_course").addEventListener("change", ({target}) => target.form.submit());
    document.getElementById("filter_specialty").addEventListener("change", ({target}) => target.form.submit());
    document.getElementById("filter_faculty").addEventListener("change", ({target}) => target.form.submit());
    document.getElementById("filter_form").addEventListener("change", ({target}) => target.form.submit());
</script>
</body>