<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<style>
    .auth-reg-inp {
        width: 100%;
        height: 2em;
        margin-bottom: 0;
    }

    .inv-table td {
        padding-bottom: 10px;
    }

    p {
        text-align: left;
        margin: 0;
    }
</style>
<body>
<header th:insert="header_sec :: sec_header"></header>
<div class="modalBackground" id="mod_back">
    <div class="modalActive" id="mod_act" style="width: 70%;left: 15%;padding-bottom: 20px;top: 4%">
        <form method="post" id="addform" action="/secretary_student_menu/add_student" enctype="multipart/form-data">
            <div class="modalClose" id="mod_close" onclick="modalClose()">
                <p style="font-size: 30px;margin: 0;color: #005200;text-align: end">x</p>
            </div>
            <div class="modalWindow" id="mod_wind">
                <h3 style="margin-top: 0">Добавление студента</h3>

                <div style="display: flex;flex-direction: row;justify-content: space-between">
                    <div style="width: 45%;display: flex;flex-direction: column">
                        <h4>Личная информация</h4>
                        <table class="inv-table" style="width: 100%">
                            <tr>
                                <td style="width: 40%"><p>ФИО</p></td>
                                <td>
                                    <input class="auth-reg-inp" id="name" name="name" required
                                           placeholder="Иванов Иван Иванович"
                                           th:value="${name==null}?'':${name}">
                                    <span th:if="${name_error!=null}">
                                        <p class="auth-reg-error" th:text="${name_error}"></p>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Дата рождения</p></td>
                                <td>
                                    <input type="date" id="b_date" required name="b_date" class="auth-reg-inp"
                                           max="2020-01-01"
                                           th:value="${b_date==null}?'':${{b_date}}">
                                </td>
                            </tr>
                            <tr>
                                <td><p>Пол</p></td>
                                <td>
                                    <select class="auth-reg-inp" id="gender" name="gender" style="width: 103.3%">
                                        <span th:if="${gender!=null && gender==1}">
                                        <option value=1 selected>Мужской</option></span>
                                        <span th:unless="${gender!=null && gender==1}">
                                        <option value=1>Мужской</option></span>
                                        <span th:if="${gender!=null && gender==2}">
                                        <option value=2 selected>Женский</option></span>
                                        <span th:unless="${gender!=null && gender==2}">
                                        <option value=2>Женский</option></span>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Телефон</p></td>
                                <td>
                                    <input type="tel" pattern="\+[0-9]{12}" required id="phone" class="auth-reg-inp"
                                           name="phone"
                                           placeholder="+375292093239" th:value="${phone==null}?'':${phone}">
                                    <span th:if="${phone_error!=null}">
                                        <p class="auth-reg-error" th:text="${phone_error}"></p>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Адрес эл. почты</p></td>
                                <td>
                                    <input type="email" class="auth-reg-inp" required id="email" name="email"
                                           placeholder="student.12@mail.ru" th:value="${email==null}?'':${email}">
                                    <span th:if="${email_error!=null}">
                                        <p class="auth-reg-error" th:text="${email_error}"></p>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Прописка</p></td>
                                <td>
                                    <input class="auth-reg-inp" id="reg_address" required name="reg_address"
                                           placeholder="ул. Голубева, д. 20, кв. 19"
                                           th:value="${reg_address==null}?'':${reg_address}">
                                </td>
                            </tr>
                            <tr>
                                <td><p>Страна</p></td>
                                <td>
                                    <input class="auth-reg-inp" id="country" required name="country"
                                           placeholder="Абхазия"
                                           th:value="${country==null}?'':${country}">
                                </td>
                            </tr>
                            <tr>
                                <td><p>Номер паспорта</p></td>
                                <td>
                                    <input class="auth-reg-inp" id="passport" required name="passport"
                                           placeholder="1234567PK"
                                           th:value="${passport==null}?'':${passport}">
                                    <span th:if="${passport_error!=null}">
                                        <p class="auth-reg-error" th:text="${passport_error}"></p>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Адрес</p></td>
                                <td>
                                    <input class="auth-reg-inp" id="address" required name="address"
                                           placeholder="ул. Российская, д. 20, кв. 19"
                                           th:value="${address==null}?'':${address}">
                                </td>
                            </tr>
                            <tr>
                                <td><p>Фотография</p></td>
                                <td>
                                    <input class="auth-reg-inp" type="file" accept="image/png" id="photo" name="photo"
                                           style="border-radius: 0">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="width: 1px;background-color: gray"></div>
                    <div style="width: 45%;display: flex;flex-direction: column">
                        <h4>Студенческая информация</h4>
                        <table class="inv-table" style="width: 100%">
                            <tr>
                                <td style="width: 40%"><p>Курс</p></td>
                                <td>
                                    <select class="auth-reg-inp" id="course" name="course" onchange="getGroup()">
                                        <option value="-" disabled>Курс</option>
                                        <span th:if="${course!=null && course==1}">
                                        <option value=1 selected>1 курс</option></span>
                                        <span th:unless="${course!=null && course==1}">
                                        <option value=1>1 курс</option></span>
                                        <span th:if="${course!=null && course==2}">
                                        <option value=2 selected>2 курс</option></span>
                                        <span th:unless="${course!=null && course==2}">
                                        <option value=2>2 курс</option></span>
                                        <span th:if="${course!=null && course==3}">
                                        <option value=3 selected>3 курс</option></span>
                                        <span th:unless="${course!=null && course==3}">
                                        <option value=3>3 курс</option></span>
                                        <span th:if="${course!=null && course==4}">
                                        <option value=4 selected>4 курс</option></span>
                                        <span th:unless="${course!=null && course==4}">
                                        <option value=4>4 курс</option></span>
                                        <span th:if="${course!=null && course==5}">
                                        <option value=5 selected>5 курс</option></span>
                                        <span th:unless="${course!=null && course==5}">
                                        <option value=5>5 курс</option></span>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Факультет</p></td>
                                <td>
                                    <select class="auth-reg-inp" id="faculty" name="faculty" onchange="getFac()">
                                        <option value="-" disabled>Факультет</option>
                                        <div th:each="fac:${faculties}">
                                            <span th:if="${fac.equals(faculty)}">
                                            <option th:value="${fac}" th:text="${fac}" selected></option>
                                            </span>
                                            <span th:unless="${fac.equals(faculty)}">
                                            <option th:value="${fac}" th:text="${fac}"></option>
                                            </span>
                                        </div>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Специальность</p></td>
                                <td>
                                    <select class="auth-reg-inp" id="specialty" name="specialty" onchange="getGroup()">
                                        <option value="-" disabled>Специальность</option>
                                        <div th:each="sp:${specialties}">
                                        <span th:if="${sp.equals(specialty)}">
                                        <option th:value="${sp}" th:text="${sp}" selected></option>
                                        </span>
                                            <span th:unless="${sp.equals(specialty)}">
                                        <option th:value="${sp}" th:text="${sp}"></option>
                                        </span>
                                        </div>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Группа</p></td>
                                <td>
                                    <select class="auth-reg-inp" id="group" name="group">
                                        <option value="-" disabled>Группа</option>
                                        <div th:each="gr:${grouplist}">
                                            <span th:if="${group!=null && gr.getGr_num()==group}">
                                            <option th:value="${gr.getGr_num()}" th:text="${gr.getGr_num()}"
                                                    selected></option></span>
                                            <span th:unless="${group!=null && gr.getGr_num()==group}">
                                            <option th:value="${gr.getGr_num()}"
                                                    th:text="${gr.getGr_num()}"></option></span>
                                        </div>
                                    </select>
                                    <span th:if="${group_error!=null}">
                                        <p class="auth-reg-error" th:text="${group_error}"></p>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Тип обучения</p></td>
                                <td>
                                    <select class="auth-reg-inp" id="type" name="type">
                                        <span th:if="${type!=null && type==1}">
                                        <option value=1 selected>Платное</option></span>
                                        <span th:unless="${type!=null && type==1}">
                                        <option value=1>Платное</option></span>
                                        <span th:if="${type!=null && type==2}">
                                        <option value=2 selected>Бюджет</option></span>
                                        <span th:unless="${type!=null && type==2}">
                                        <option value=2>Бюджет</option></span>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
            <div style="width: 95%;display: flex;justify-content: end">
                <button class="del_btn" type="submit">Добавить</button>
            </div>
        </form>
    </div>
</div>
<form id="choose_spec" method="post" action="/secretary_student_menu/choose_specialty" style="display: none">
    <input id="fac" name="fac">
    <input id="nam" name="nam">
    <input type="date" id="b_d" name="b_d">
    <input id="gen" name="gen">
    <input id="ph" name="ph">
    <input id="em" name="em">
    <input id="reg_adr" name="reg_adr">
    <input id="coun" name="coun">
    <input id="pas" name="pas">
    <input id="adr" name="adr">
    <input id="cour" name="cour">
    <input id="typ" name="typ">
</form>
<form id="choose_gr" method="post" action="/secretary_student_menu/choose_group" style="display: none">
    <input id="fac2" name="fac">
    <input id="spec" name="spec">
    <input id="nam2" name="nam">
    <input id="b_d2" name="b_d">
    <input id="gen2" name="gen">
    <input id="ph2" name="ph">
    <input id="em2" name="em">
    <input id="reg_adr2" name="reg_adr">
    <input id="coun2" name="coun">
    <input id="pas2" name="pas">
    <input id="adr2" name="adr">
    <input id="cour2" name="cour">
    <input id="typ2" name="typ">
</form>
<span th:if="${faculty!=null || email_error!=null || group_error!=null || name_error!=null || passport_error!=null || phone_error!=null}">
    <script>
        document.getElementById("mod_back").style.display = "block";
    </script>
</span>
<div class="main_frame">
    <div style="display: flex;height: 2em;justify-content: space-between">
        <form method="post" style="display: flex; gap: 10px" action="/secretary_student_menu/filter">
            <div style="display: flex">
                <button type="submit" class="search_button" style="width: 15%;"><img style="width: 100%;height: 100%"
                                                                                     th:src="@{/images/search.png}">
                </button>
                <input class="search" name="search" th:value="${search==null}?'':${search}"
                       placeholder="Введите ID или имя">

            </div>
            <select class="filter" id="filter_course" name="filter_course" onchange="submit()">
                <option value=0>Все курсы</option>
                <span th:if="${filter_course!=null && filter_course==1}">
                        <option value=1 selected>1 курс</option></span>
                <span th:unless="${filter_course!=null && filter_course==1}">
                        <option value=1>1 курс</option></span>
                <span th:if="${filter_course!=null && filter_course==2}">
                        <option value=2 selected>2 курс</option></span>
                <span th:unless="${filter_course!=null && filter_course==2}">
                        <option value=2>2 курс</option></span>
                <span th:if="${filter_course!=null && filter_course==3}">
                        <option value=3 selected>3 курс</option></span>
                <span th:unless="${filter_course!=null && filter_course==3}">
                        <option value=3>3 курс</option></span>
                <span th:if="${filter_course!=null && filter_course==4}">
                        <option value=4 selected>4 курс</option></span>
                <span th:unless="${filter_course!=null && filter_course==4}">
                        <option value=4>4 курс</option></span>
                <span th:if="${filter_course!=null && filter_course==5}">
                        <option value=5 selected>5 курс</option></span>
                <span th:unless="${filter_course!=null && filter_course==5}">
                        <option value=5>5 курс</option></span>
            </select>
            <select class="filter" id="filter_faculty" name="filter_faculty" onchange="submit()">
                <option value="">Все факультеты</option>
                <div th:each="fac:${filter_faculties}">
                        <span th:if="${fac.equals(filter_faculty)}">
                            <option th:value="${fac}" th:text="${fac}" selected></option>
                        </span>
                    <span th:unless="${fac.equals(filter_faculty)}">
                            <option th:value="${fac}" th:text="${fac}"></option>
                        </span>
                </div>
            </select>
            <select class="filter" id="filter_specialty" name="filter_specialty" onchange="submit()">
                <option value="">Все специальности</option>
                <div th:each="sp:${filter_specialties}">
                        <span th:if="${sp.equals(filter_specialty)}">
                            <option th:value="${sp}" th:text="${sp}" selected></option>
                        </span>
                    <span th:unless="${sp.equals(filter_specialty)}">
                            <option th:value="${sp}" th:text="${sp}"></option>
                        </span>
                </div>
            </select>
            <select class="filter" id="filter_group" name="filter_group" onchange="submit()">
                <option value=0>Все группы</option>
                <div th:each="gr:${filter_groups}">
                     <span th:if="${gr.getGr_num()==filter_group}">
                         <option th:value="${gr.getGr_num()}" th:text="${gr.getGr_num()}" selected></option></span>
                    <span th:unless="${gr.getGr_num()==filter_group}">
                         <option th:value="${gr.getGr_num()}" th:text="${gr.getGr_num()}"></option></span>
                </div>
            </select>
        </form>
        <button class="add-btn" onclick="modalOpen()">+</button>
    </div>
    <div style="display: flex">
        <div class="scroll-table">
            <table>
                <thead>
                <tr>
                    <th style="width: 11%">ID</th>
                    <th style="width: 34%">ФИО</th>
                    <th style="width: 11%">Курс</th>
                    <th style="width: 11%">Группа</th>
                    <th style="width: 11%">Факультет</th>
                    <th style="width: 11%">Специальность</th>
                    <th style="width: 11%">Тип обучения</th>
                </tr>
                </thead>
            </table>
            <div class="scroll-table-body" style="height: 510px">
                <table>
                    <tbody>
                    <span th:if="${noStudents!=null}">
                        <tr><td th:text="${noStudents}" style="border: none;padding-top: 85px"></td></tr>
                    </span>
                    <span th:unless="${noStudents!=null}">
                        <tr th:each="st:${students}" onclick="getStudent(this)" th:id="${st.getId()}">
                            <form th:action="'/secretary_student_menu/'+${st.getId()}"
                                  th:id="${st.getId()}+'form'"></form>
                            <td style="width: 11%" th:text="${st.getId()}"></td>
                            <td style="width: 32.5%" th:text="${st.getName()}"></td>
                            <td style="width: 11%" th:text="${st.getCourse()}"></td>
                            <td style="width: 11%" th:text="${st.getGroupnumber()}"></td>
                            <td style="width: 11%" th:text="${st.getFaculty()}"></td>
                            <td style="width: 11%" th:text="${st.getSpecialty()}"></td>
                            <td style="width: 11%" th:text="${st.getType_of_study()==1}?'Платное':'Бюджет'"></td>
                        </tr>
                        </span>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <span th:if="${success!=null}">
        <div id="popup-message" class="popup hidden-pop" th:text="${success}"></div>
        <script>
            const popup = document.getElementById('popup-message');
            popup.classList.remove('hidden-pop');
            setTimeout(() => {
                popup.classList.add('hidden-pop');
            }, 3000);
        </script>
    </span>
</div>
<script>
    function modalOpen() {
        document.getElementById("mod_back").style.display = "block";
    }

    function modalClose() {
        document.getElementById("mod_back").style.display = "none";
    }

    function submitAdd() {
        document.getElementById("addform").submit();
    }

    function saveValues1() {
        document.getElementById("nam").value = document.getElementById("name").value;
        document.getElementById("b_d").value = document.getElementById("b_date").value;
        let gen = document.getElementById("gender");
        document.getElementById("gen").value = gen.options[gen.selectedIndex].value;
        document.getElementById("ph").value = document.getElementById("phone").value;
        document.getElementById("em").value = document.getElementById("email").value;
        document.getElementById("reg_adr").value = document.getElementById("reg_address").value;
        document.getElementById("coun").value = document.getElementById("country").value;
        document.getElementById("pas").value = document.getElementById("passport").value;
        document.getElementById("adr").value = document.getElementById("address").value;
        let cour = document.getElementById("course");
        document.getElementById("cour").value = cour.options[cour.selectedIndex].value;
        let typ = document.getElementById("type");
        document.getElementById("typ").value = typ.options[typ.selectedIndex].value;
    }

    function saveValues2() {
        document.getElementById("nam2").value = document.getElementById("name").value;
        document.getElementById("b_d2").value = document.getElementById("b_date").value;
        let gen = document.getElementById("gender");
        document.getElementById("gen2").value = gen.options[gen.selectedIndex].value;
        document.getElementById("ph2").value = document.getElementById("phone").value;
        document.getElementById("em2").value = document.getElementById("email").value;
        document.getElementById("reg_adr2").value = document.getElementById("reg_address").value;
        document.getElementById("coun2").value = document.getElementById("country").value;
        document.getElementById("pas2").value = document.getElementById("passport").value;
        document.getElementById("adr2").value = document.getElementById("address").value;
        let cour = document.getElementById("course");
        document.getElementById("cour2").value = cour.options[cour.selectedIndex].value;
        let typ = document.getElementById("type");
        document.getElementById("typ2").value = typ.options[typ.selectedIndex].value;
    }

    function getFac() {
        let sel = document.getElementById("faculty");
        let value = sel.options[sel.selectedIndex].value;
        document.getElementById("fac").value = value;
        saveValues1()
        document.getElementById("choose_spec").submit();
    }

    function getGroup() {
        let fac = document.getElementById("faculty");
        let value = fac.options[fac.selectedIndex].value;
        document.getElementById("fac2").value = value;
        let spec = document.getElementById("specialty");
        let value1 = spec.options[spec.selectedIndex].value;
        document.getElementById("spec").value = value1;
        saveValues2();
        document.getElementById("choose_gr").submit();
    }

    function getStudent(row) {
        let id = row.id;
        document.getElementById(id + "form").submit();
    }

</script>
</body>