<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<style>
    p {
        text-align: left;
        margin: 0;
    }
    table{
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        border-collapse: collapse;
        background-color: white;
    }
    thead{
        background: #005200;
        color: white;
    }
    td,th{
        font-size: 14px;
        padding: 5px 0;
    }
    td{
        border: 1px solid #cfcfcf;
    }
</style>
<body>
<header th:insert="header_sec :: sec_header"></header>
<div style="display: flex;justify-content: space-between;width: 90%;margin: auto;margin-top: 6em">
    <div style="width: 13%">
        <div class="nav-list">
            <div style="padding: 5px;">
                <a style="text-decoration: none;display: flex" th:href="'/secretary_student_menu/'+${student.getId()}">
                    <img th:src="@{/images/profile_icon.png}" alt="" class="icon-pic">
                    <div class="icon-text">Профиль</div>
                </a>
            </div>
            <div style="padding: 5px;" class="chosen">
                <a style="text-decoration: none;display: flex" th:href="'/secretary_student_menu/'+${student.getId()}+'/grades'">
                    <img th:src="@{/images/book_icon.png}" alt="" class="icon-pic">
                    <div class="icon-text">Успеваемость</div>
                </a>
            </div>
            <div style="padding: 5px;">
                <a style="text-decoration: none;display: flex" th:href="'/secretary_student_menu/'+${student.getId()}+'/omissions'">
                    <img th:src="@{/images/document_icon.png}" alt="" class="icon-pic">
                    <div class="icon-text">Заявления</div>
                </a>
            </div>
        </div>
    </div>
    <div style="width: 75%;display: flex;flex-direction: column;gap: 50px">
        <table style="width: 100%">
            <thead>
            <th>Общая средняя оценка</th>
            <th>Общее количество пропусков</th>
            </thead>
            <tr>
                <td th:text="${general_average}"></td>
                <td th:text="${all_skips}+' пар(ы/а)'"></td>
            </tr>
        </table>
        <table>
            <thead>
            <th>Предмет</th>
            <th>Средняя оценка</th>
            <th>Количество пропусков</th>
            </thead>
            <tr th:each="subject,iterStat:${subjects}">
                <td th:text="${subject}"></td>
                <td th:text="${averages.get(iterStat.index)}"></td>
                <td th:text="${skips.get(iterStat.index)}"></td>
            </tr>
        </table>
    </div>
</div>
</body>