<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<style>
    .scroll-table-body{
        height: 220px;
    }
    .scroll-table tr:hover{
        background-color: white;
    }
</style>
<body>
<header th:insert="header_sec :: sec_header"></header>
<div style="width: 60%;margin: auto;margin-top: 6em">
    <div class="scroll-table">
        <table>
            <thead>
            <tr>
                <th style="width: 80%">Логин</th>
                <th style="width: 20%">Удалить</th>
            </tr>
            </thead>
        </table>
        <div class="scroll-table-body">
            <table>
                <tbody>
                <tr th:each="sec:${approved}">
                    <form method="post" action="/secretary_secretary_menu/delete">
                        <input style="display:none;" name="login" th:value="${sec.getLogin()}">
                        <td style="width: 80%" th:text="${sec.getLogin()}"></td>
                        <td style="width: 20%"><img th:src="@{/images/delete.png}" alt="Удалить" style="height:20px;cursor: pointer"
                            onclick="submit()"></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4 style="text-align: center">Заявки</h4>
    <div class="scroll-table">
        <table>
            <thead>
            <tr>
                <th style="width: 60%">Логин</th>
                <th style="width: 20%">Одобрить</th>
                <th style="width: 20%">Удалить</th>
            </tr>
            </thead>
        </table>
        <div class="scroll-table-body">
            <table>
                <tbody>
                <tr th:each="sec:${waiting}">

                        <td style="width: 60%" th:text="${sec.getLogin()}"></td>
                    <form method="post" action="/secretary_secretary_menu/approve">
                        <input style="display:none;" name="login" th:value="${sec.getLogin()}">
                        <td style="width: 20%"><img th:src="@{/images/change.png}" alt="Одобрить" style="height: 20px;cursor: pointer" onclick="confirm('Вы уверены, что хотите удалить секретаря?')?submit():''"></td>
                    </form>
                    <form method="post" action="/secretary_secretary_menu/delete">
                        <input style="display:none;" name="login" th:value="${sec.getLogin()}">
                        <td style="width: 20%"><img th:src="@{/images/delete.png}" alt="Удалить" style="height: 20px;cursor: pointer" onclick="confirm('Вы уверены, что хотите удалить заявку?')?submit():''"></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <span th:if="${success!=null}">
    <div id="popup-message" class="popup hidden-pop" th:text="${success}"></div>
    <script>
        const popup = document.getElementById('popup-message');
        popup.classList.remove('hidden-pop');
        setTimeout(() => {
            popup.classList.add('hidden-pop');
        }, 3000);
    </script>
</span>
</div>
</body>