<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<header th:insert="header_sec :: sec_header"></header>
<div class="modalBackground" id="mod_back">
    <div class="modalActive" id="mod_act" style="top:7%">
        <div class="modalClose" id="mod_close" onclick="modalClose()">
            <p style="font-size: 30px;margin: 0;color: #005200">x</p>
        </div>
        <div class="modalWindow" id="mod_wind">
            <h3>Добавление преподавателя</h3>
            <form method="post" action="/secretary_lector_menu/add_lector" enctype="multipart/form-data">
                <label>
                    <input class="auth-reg-inp" name="name" id="name" required
                           placeholder="Игорев Игорь Игоревич">
                    <span>ФИО</span>
                </label>
                <span th:if="${name_error!=null}">
                    <p class="auth-reg-error" th:text="${name_error}"></p>
                </span>
                <label>
                    <input class="auth-reg-inp" name="email" id="email" required
                           placeholder="Igoriok@gmail.com">
                    <span>Адрес эл. почты</span>
                </label>
                <span th:if="${email_error!=null}">
                    <p class="auth-reg-error" th:text="${email_error}"></p>
                </span>
                <label>
                    <select class="auth-reg-inp" name="groups" id="groups" required
                            multiple="multiple" style="height: 6em">
                        <option value="-" disabled>Группы</option>
                        <div th:each="gr:${groups}">
                            <option th:value="${gr.getGr_num()}" th:text="${gr.getGr_num()}"></option>
                        </div>
                    </select>
                    <span>Группы</span>
                </label>
                <span th:if="${groups_error!=null}">
                    <p class="auth-reg-error" th:text="${groups_error}"></p>
                </span>
                <label>
                    <select class="auth-reg-inp" name="subjects" id="subjects" required
                            multiple="multiple" style="height: 6em">
                        <option value="-" disabled>Предметы</option>
                        <div th:each="s:${subjects}">
                            <option th:value="${s}" th:text="${s}"></option>
                        </div>
                    </select>
                    <span>Предметы</span>
                </label>
                <span th:if="${subjects_error!=null}">
                    <p class="auth-reg-error" th:text="${subjects}"></p>
                </span>
                <div style="display: flex;width: 92%;margin: auto">
                    <p style="margin: 0;text-align: left">Фото</p>
                    <input type="file" accept="image/png" id="photo" name="photo">
                </div>
                <button class="auth-reg-btn" type="submit">Добавить</button>
            </form>
            <form id="choose_spec" method="post" action="/secretary_group_menu/choose_specialty" style="display: none">
                <input id="fac" name="fac">
                <input id="num" name="num">
            </form>
        </div>
    </div>
</div>
<div class="main_frame">
    <div style="display: flex;height: 2em;justify-content: space-between">
        <form method="post" action="/secretary_lector_menu/filter" style="display: flex; gap: 10px;width: 20%">
            <div style="display: flex;width: 100%">
                <button type="submit" class="search_button" style="width: 10%;"><img style="width: 100%;height: 100%"
                                                                                     th:src="@{/images/search.png}">
                </button>
                <input class="search" name="search" th:value="${search==null}?'':${search}"
                       placeholder="Введите ID или имя">

            </div>

        </form>
        <button class="add-btn" onclick="modalOpen()">+</button>
    </div>
    <div style="display: flex">
        <div class="scroll-table">
            <table>
                <thead>
                <tr>
                    <th style="width: 20%">ID</th>
                    <th style="width: 80%">ФИО</th>
                </tr>
                </thead>
            </table>
            <div class="scroll-table-body" style="height: 510px">
                <table>
                    <tbody>
                    <span th:if="${noLectors!=null}">
                        <tr><td th:text="${noLectors}" style="border: none;padding-top: 85px"></td></tr>
                    </span>
                    <span th:unless="${noLectors!=null}">
                        <tr th:each="lec:${lectors}" onclick="getLector(this)" th:id="${lec.getId()}">
                            <form th:action="'/secretary_lector_menu/'+${lec.getId()}" th:id="${lec.getId()}+'form'"></form>
                            <td style="width: 20%" th:text="${lec.getId()}"></td>
                            <td style="width: 80%" th:text="${lec.getName()}"></td>
                        </tr>
                        </span>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <span th:if="${success!=null}">
    <div id="popup-message" class="popup hidden-pop" th:text="${success}"></div>
    <script>
        const popup = document.getElementById('popup-message');
        popup.classList.remove('hidden-pop');
        setTimeout(() => {
            popup.classList.add('hidden-pop');
        }, 3000);
    </script>
</span>
</div>
<script>
    function modalOpen() {
        document.getElementById("mod_back").style.display = "block";
    }

    function modalClose() {
        document.getElementById("mod_back").style.display = "none";
    }
    function getLector(row){
        let id = row.id;
        document.getElementById(id+"form").submit();
    }
</script>
</body>