<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<style>
    .filter {
        height: 2em;
    }

    label {
        width: 100%;
        margin-bottom: 0;
    }

    input[type="radio"] {
        margin: 0;
        accent-color: #005200;
    }
</style>
<body>
<header th:insert="header_sec :: sec_header"></header>
<div class="main_frame_gr" style="gap: 90px">
    <div style="display:flex;flex-direction:column;gap:25px;width: 25%;align-items:end;height:275px;margin-top: 22px;">
        <div style="display: flex; gap: 30px;width: 100%;">
            <div style="display: flex;align-items: center;gap: 10px">
                <input type="radio" id="lec_radio" name="type" value=1 onchange="radioSelect(this)"
                       th:checked="${lec_sch!=null}">
                <label for="lec_radio" style="height: fit-content;margin-top: 0">Преподаватель</label>
            </div>
            <div style="display: flex;align-items: center;gap: 10px">
                <input type="radio" id="group_radio" name="type" value=2 onchange="radioSelect(this)"
                       th:checked="${gr_sch!=null}">
                <label for="group_radio" style="height: fit-content;margin-top: 0">Группа</label>
            </div>
        </div>
        <span th:if="${lec_sch!=null}"
              style="display:flex;flex-direction:column;gap:25px;width: 100%;align-items:end;height:275px;margin-top: 22px;">
            <label>
                <select class="filter" id="lector_select" name="lector" onchange="onChange()">
                    <option value="">Не выбран</option>
                    <div th:each="lec:${lectors}">
                        <span th:if="${lector!=null && lector==lec.getId()}">
                        <option th:value="${lec.getId()}" th:text="${lec.getName()}" selected></option></span>
                        <span th:unless="${lector!=null && lector==lec.getId()}">
                        <option th:value="${lec.getId()}" th:text="${lec.getName()}"></option></span>
                    </div>
                </select>
                <span>Выберите лектора</span>
            </label>
            <label>
                <select class="filter" id="subject_select" name="subject" onchange="onChange()">
                    <option value="">Не выбран</option>
                    <div th:each="sub:${subjects}">
                        <span th:if="${subject!=null && subject.equals(sub)}">
                        <option th:value="${sub}" th:text="${sub}" selected></option></span>
                        <span th:unless="${subject!=null && subject.equals(sub)}">
                        <option th:value="${sub}" th:text="${sub}"></option>
                        </span>
                    </div>
                </select>
                <span>Выберите предмет</span>
            </label>
            <span th:if="${canAdd!=null}"
                  style="width:100%;display:flex;flex-direction:column;gap:30px;align-items:end;">
                 <label>
                <select class="filter" id="group_select" name="group" onchange="onChangeGr()">
                    <div th:each="gr:${groups}">
                        <option th:value="${gr}" th:text="${gr}"></option>
                    </div>
                </select>
                <span>Выберите группу</span>
            </label>
                <label>
                    <select class="filter" id="day_select" name="day">
                        <div th:each="day,iterStat:${days}">
                            <option th:value="${iterStat.count}" th:text="${day}"></option>
                        </div>
                    </select>
                    <span>Выберите день недели</span>
                </label>
                <button class="del_btn" style="width: fit-content" onclick="submitAddLec()">Добавить</button>
            </span>
        </span>
        <span th:if="${gr_sch!=null}"
              style="display:flex;flex-direction:column;gap:25px;width: 100%;align-items:end;height:275px;margin-top: 22px;">
            <label>
                <select class="filter" id="gr_group_select" name="group" onchange="onChangeGr()">
                    <option value="">Не выбрана</option>
                    <div th:each="gr:${groups}">
                        <span th:if="${group!=null && group==gr.getGr_num()}">
                        <option th:value="${gr.getGr_num()}" th:text="${gr.getGr_num()}" selected></option></span>
                        <span th:unless="${group!=null && group==gr.getGr_num()}">
                        <option th:value="${gr.getGr_num()}" th:text="${gr.getGr_num()}"></option></span>
                    </div>
                </select>
                <span>Выберите группу</span>
            </label>
            <span th:if="${group!=null}"
                  style="width:100%;display:flex;flex-direction:column;gap:30px;align-items:end;">
                <label>
                    <select class="filter" id="gr_lector_select" name="lector" onchange="onChangeGrLec()">
                        <div th:each="lec:${lectors}">
                            <span th:if="${gr_lector!=null && gr_lector==lec.getId()}">
                            <option th:value="${lec.getId()}" th:text="${lec.getName()}" selected></option></span>
                            <span th:unless="${gr_lector!=null && gr_lector==lec.getId()}">
                            <option th:value="${lec.getId()}" th:text="${lec.getName()}"></option></span>
                        </div>
                    </select>
                    <span>Выберите лектора</span>
                </label>
                <span th:if="${gr_lector!=null}"
                      style="width:100%;display:flex;flex-direction:column;gap:30px;align-items:end;">
                    <label>
                        <select class="filter" id="gr_subject_select" name="subject">
                            <div th:each="sub:${subjects}">
                                <option th:value="${sub}" th:text="${sub}"></option>
                            </div>
                        </select>
                        <span>Выберите предмет</span>
                    </label>
                    <label>
                        <select class="filter" id="gr_day_select" name="day">
                            <div th:each="day,iterStat:${days}">
                                <option th:value="${iterStat.count}" th:text="${day}"></option>
                            </div>
                        </select>
                        <span>Выберите день недели</span>
                    </label>
                    <button class="del_btn" style="width: fit-content" onclick="submitAddGr()">Добавить</button>
                </span>
            </span>
        </span>
    </div>
    <div class="scroll-cont">
        <span th:if="${lector_chosen!=null || group!=null}">
            <span th:if="${lector_chosen!=null && lec_sch!=null}">
                <h4 style="text-align: left; margin-top: 0" th:text="${lector_chosen}"></h4></span>
            <span th:if="${group!=null && gr_sch!=null}">
                <h4 style="text-align: left;margin-top: 0" th:text="${group}"></h4></span>
            <div style="display: flex;flex-direction: row;flex-wrap: wrap;gap: 30px;justify-content: left">
                <div th:each="day,iterStat:${days}" style="width: 44%">
                    <div class="schedule-day">
                        <table class="table1">
                            <tr>
                                <th th:text="${day}"></th>
                            </tr>
                        </table>
                        <table class="table2">
                            <div th:each="schedule:${schedules}" th:if="${schedule.get('day').equals(day)}">
                            <tr th:each="sch,iterStat:${schedule['schedules']}">
                                <form method="post" action="/secretary_schedule_menu/delete">
                                    <input style="display: none" name="lector" th:value="${sch['lector']}">
                                    <input style="display: none" name="group" th:value="${sch['group']}">
                                    <input style="display: none" name="subject" th:value="${sch['subject']}">
                                    <input style="display: none" name="day" th:value="${sch['day']}">
                                    <input style="display: none" name="id" th:value="${sch['id']}">
                                    <input style="display: none" name="val" th:value="${lec_sch!=null ? 1:2}">
                                <td th:text="${iterStat.count}" style="width: 4%"></td>
                                <td th:text="${sch['lector']}" style="width: 50%"></td>
                                <td th:text="${sch['group']}" style="width: 14%"></td>
                                <td th:text="${sch['subject']}" style="width: 25%"></td>
                                <td style="width: 5%">
                                    <span th:if="${!sch['lector'].equals('')}">
                                    <img th:src="@{/images/delete.png}" alt="Удалить"
                                         style="height: 20px;cursor: pointer"
                                         onclick="confirm('Вы уверены, что хотите удалить данное расписание?')?submit():''"></span>
                                </td>
                                </form>
                            </tr>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>
<span th:if="${success!=null}">
    <div id="popup-message" class="popup hidden-pop" th:text="${success}"></div>
    <script>
        const popup = document.getElementById('popup-message');
        popup.classList.remove('hidden-pop');
        setTimeout(() => {
            popup.classList.add('hidden-pop');
        }, 3000);
    </script>
</span>
<form id="radio_select" action="/secretary_schedule_menu/group_or_lector" method="post">
    <input style="display: none" name="val" id="radioVal">
</form>
<form id="select-lector-or-subject" action="/secretary_schedule_menu/lec_sch_choose" method="post">
    <input style="display: none" name="lector" id="lector">
    <input style="display: none" name="subject" id="subject">
</form>
<form id="group_select_form" action="/secretary_schedule_menu/gr_sch_choose_group" method="post">
    <input style="display: none" name="group" id="group">
</form>
<form id="lector_select_form" action="/secretary_schedule_menu/gr_sch_choose_lector" method="post">
    <input style="display: none" name="lector" id="lec">
    <input style="display: none" name="group" id="gr">
</form>
<form id="add_form" method="post" action="/secretary_schedule_menu/add">
    <input style="display: none" name="lector" id="form_lector">
    <input style="display: none" name="group" id="form_group">
    <input style="display: none" name="subject" id="form_subject">
    <input style="display: none" name="day" id="form_day">
    <input style="display: none" name="val" id="form_val">
</form>
<script>
    function onChange() {
        let lec_sel = document.getElementById("lector_select");
        let lec_value = lec_sel.options[lec_sel.selectedIndex].value;
        document.getElementById("lector").value = lec_value;
        let sub_sel = document.getElementById("subject_select");
        let sub_value = sub_sel.options[sub_sel.selectedIndex].value;
        document.getElementById("subject").value = sub_value;
        document.getElementById("select-lector-or-subject").submit();
    }

    function radioSelect(radio) {
        let value = radio.value
        document.getElementById("radioVal").value = value;
        console.log(document.getElementById("radioVal").value)
        document.getElementById("radio_select").submit();
    }

    function onChangeGr() {
        let gr_sel = document.getElementById("gr_group_select");
        let gr_value = gr_sel.options[gr_sel.selectedIndex].value;
        document.getElementById("group").value = gr_value;
        document.getElementById("group_select_form").submit();
    }

    function onChangeGrLec() {
        let gr_sel = document.getElementById("gr_group_select");
        let gr_value = gr_sel.options[gr_sel.selectedIndex].value;
        let lec_sel = document.getElementById("gr_lector_select");
        let lec_value = lec_sel.options[lec_sel.selectedIndex].value;
        document.getElementById("gr").value = gr_value;
        document.getElementById("lec").value = lec_value;
        document.getElementById("lector_select_form").submit();
    }

    function submitAddLec() {
        let gr_sel = document.getElementById("group_select");
        let gr_value = gr_sel.options[gr_sel.selectedIndex].value;
        let lec_sel = document.getElementById("lector_select");
        let lec_value = lec_sel.options[lec_sel.selectedIndex].value;
        let sub_sel = document.getElementById("subject_select");
        let sub_value = sub_sel.options[sub_sel.selectedIndex].value;
        let day_sel = document.getElementById("day_select");
        let day_value = day_sel.options[day_sel.selectedIndex].value;
        document.getElementById("form_lector").value = lec_value;
        document.getElementById("form_subject").value = sub_value;
        document.getElementById("form_group").value = gr_value;
        document.getElementById("form_day").value = day_value;
        document.getElementById("form_val").value = 1;
        document.getElementById("add_form").submit();
    }

    function submitAddGr() {
        let gr_sel = document.getElementById("gr_group_select");
        let gr_value = gr_sel.options[gr_sel.selectedIndex].value;
        let lec_sel = document.getElementById("gr_lector_select");
        let lec_value = lec_sel.options[lec_sel.selectedIndex].value;
        let sub_sel = document.getElementById("gr_subject_select");
        let sub_value = sub_sel.options[sub_sel.selectedIndex].value;
        let day_sel = document.getElementById("gr_day_select");
        let day_value = day_sel.options[day_sel.selectedIndex].value;
        document.getElementById("form_lector").value = lec_value;
        document.getElementById("form_subject").value = sub_value;
        document.getElementById("form_group").value = gr_value;
        document.getElementById("form_day").value = day_value;
        document.getElementById("form_val").value = 2;
        document.getElementById("add_form").submit();
    }
</script>
</body>